:root {
  --primary: #d8a7ca;
  --secondary: #72b01d;
  --tertiary: #73a6ad;
  --quaternary: #f26430;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #333;
}
h1 {
  text-align: center;
  color: #efefef;
  margin: 40px 0px;
}
.masonry-grid {
  width: 700px;
  /* max-width: 500px; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(13, 1fr);
  grid-template-areas:
    "item-1 item-1 item-1 item-1 item-2 item-2 item-3 item-3 item-4 item-4 item-4 item-4"
    "item-1 item-1 item-1 item-1 item-2 item-2 item-3 item-3 item-4 item-4 item-4 item-4"
    "item-1 item-1 item-1 item-1 item-2 item-2 item-7 item-7 item-8 item-9 item-9 item-9"
    "item-1 item-1 item-1 item-1 item-2 item-2 item-7 item-7 item-8 item-9 item-9 item-9"
    "item-1 item-1 item-1 item-1 item-2 item-2 item-7 item-7 item-11 item-11 item-11 item-11"
    "item-5 item-5 item-6 item-6 item-2 item-2 item-7 item-7 item-11 item-11 item-11 item-11"
    "item-5 item-5 item-10 item-10 item-2 item-2 item-7 item-7 item-11 item-11 item-11 item-11"
    "item-5 item-5 item-10 item-10 item-2 item-2 item-7 item-7 item-11 item-11 item-11 item-11"
    "item-5 item-5 item-10 item-10 item-2 item-2 item-7 item-7 item-11 item-11 item-11 item-11"
    "item-5 item-5 item-10 item-10 item-13 item-13 item-13 item-13 item-11 item-11 item-11 item-11"
    "item-12 item-12 item-12 item-12 item-13 item-13 item-13 item-13 item-11 item-11 item-11 item-11"
    "item-12 item-12 item-12 item-12 item-13 item-13 item-13 item-13 item-11 item-11 item-11 item-11"
    "item-12 item-12 item-12 item-12 item-13 item-13 item-13 item-13 item-14 item-14 item-14 item-14";
  margin: 0 auto;
  padding: 1rem;
  /* border: 2px solid white; */
  color: #efefef;
  gap: 5px;
  margin-bottom: 80px;
}
.grid-item {
  border: 1px dotted #efefef;
  background-color: var(--quaternary);
  border-radius: 4px;
}

.item-1,
.item-11,
.item-13 {
  background-color: var(--primary);
}

.item-2,
.item-4,
.item-5,
.item-12 {
  background-color: var(--secondary);
}

.item-3,
.item-6,
.item-8,
.item-14 {
  background-color: var(--tertiary);
}

.item-1 {
  grid-area: item-1;
}
.item-2 {
  grid-area: item-2;
}
.item-3 {
  grid-area: item-3;
}
.item-4 {
  grid-area: item-4;
}
.item-5 {
  grid-area: item-5;
}
.item-6 {
  grid-area: item-6;
}
.item-7 {
  grid-area: item-7;
}
.item-8 {
  grid-area: item-8;
}
.item-9 {
  grid-area: item-9;
}
.item-10 {
  grid-area: item-10;
}
.item-11 {
  grid-area: item-11;
}
.item-12 {
  grid-area: item-12;
}
.item-13 {
  grid-area: item-13;
}
.item-14 {
  grid-area: item-14;
}

div .img-1 {
  background-image: url(./imgs/1-img.jpeg);
  border: none;
}
div .img-2 {
  background-image: url(./imgs/2-img.jpeg);
  border: none;
}
div .img-3 {
  background-image: url(./imgs/3-img.jpeg);
  border: none;
}
div .img-4 {
  background-image: url(./imgs/4-img.jpeg);
  border: none;
}
div .img-5 {
  background-image: url(./imgs/5-img.jpeg);
  border: none;
}
div .img-6 {
  background-image: url(./imgs/6-img.jpeg);
  border: none;
}
div .img-7 {
  background-image: url(./imgs/7-img.jpeg);
  border: none;
}
div .img-8 {
  background-image: url(./imgs/8-img.jpeg);
  border: none;
}
div .img-9 {
  background-image: url(./imgs/9-img.jpeg);
  border: none;
}
div .img-10 {
  background-image: url(./imgs/10-img.jpeg);
  border: none;
}
div .img-11 {
  background-image: url(./imgs/11-img.jpeg);
  border: none;
}
div .img-12 {
  background-image: url(./imgs/12-img.jpeg);
  border: none;
}
div .img-13 {
  background-image: url(./imgs/13-img.jpeg);
  border: none;
}
div .img-14 {
  background-image: url(./imgs/14-img.jpeg);
  border: none;
}

span {
  visibility: hidden;
}
